Processador de Eventos IoT (7).json
{
  "name": "Processador de Eventos IoT",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const output = [];\n\nfor (const item of items) {\n  const ids = item.json.event_ids || [];\n\n  for (const id of ids) {\n    output.push({\n      json: {\n        id: id\n      }\n    });\n  }\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3168,
        -2016
      ],
      "id": "1e733937-dac1-4b13-a444-100984a06c80",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "content": "AGENDAMENTO",
        "height": 240,
        "width": 352,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        -2336
      ],
      "typeVersion": 1,
      "id": "ecd430df-092b-41f6-b920-5555202bac7f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Processar Dispositivo Individualmente",
        "height": 368,
        "width": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        -2304
      ],
      "typeVersion": 1,
      "id": "61c0cefc-edef-412d-a7b6-a5e9a63b97b2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "events_raw",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "processed",
              "condition": "eq",
              "keyValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        272,
        -2192
      ],
      "id": "ba389a1d-e2ea-4873-b1e2-1cfc92d48936",
      "name": "Buscar Eventos Não Processados (events_raw)",
      "credentials": {
        "supabaseApi": {
          "id": "ibsVaCNrBt1RVxWA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const events = items.map(item => item.json);\n\n// 1️⃣ Agrupar por device\nconst grouped = {};\n\nfor (const event of events) {\n  if (!grouped[event.device_id]) {\n    grouped[event.device_id] = [];\n  }\n  grouped[event.device_id].push(event);\n}\n\n// 2️⃣ Ordenar por timestamp\nfor (const deviceId in grouped) {\n  grouped[deviceId].sort((a, b) => {\n    return new Date(a.timestamp) - new Date(b.timestamp);\n  });\n}\n\nconst output = [];\n\n// 3️⃣ Reconstrução de estado\nfor (const deviceId in grouped) {\n\n  const timeline = grouped[deviceId];\n\n  let destravado = false;\n  let aberto = false;\n  let invasionDetected = false;\n\n  for (const event of timeline) {\n\n    if (event.alarm_id === 33) {\n      destravado = event.value === 1;\n    }\n\n    if (event.alarm_id === 32) {\n\n      if (event.value === 1 && destravado === false) {\n        invasionDetected = true;\n      }\n\n      aberto = event.value === 1;\n    }\n  }\n\n  const estado_final = { aberto, destravado };\n\n  const vulnerabilityDetected =\n    estado_final.aberto === false &&\n    estado_final.destravado === true;\n\n  output.push({\n    json: {\n      device_id: deviceId,\n      timeline,\n      estado_final,\n      flags: {\n        invasionDetected,\n        vulnerabilityDetected\n      }\n    }\n  });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -2192
      ],
      "id": "25a30e4f-1708-4168-99b6-eb4079de70c6",
      "name": "Agrupar por Dispositivo e Ordenar Timeline"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        -2192
      ],
      "id": "5e9427c0-7e47-4da1-9711-b400bc27c90f",
      "name": "Processar Dispositivo Individualmente"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "=*/1 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -480,
        -2272
      ],
      "id": "9d87e66f-cd33-4444-976b-816103037b7d",
      "name": "Scheduler (1min Window)"
    },
    {
      "parameters": {
        "content": "Validar e Estruturar Resposta da IA",
        "height": 320,
        "width": 1072,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1552,
        -2800
      ],
      "typeVersion": 1,
      "id": "b2463a26-4986-4125-9fc5-ddea40281e0d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output[0].content[0].text;\n\nconst cleaned = raw\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim();\n\nconst parsed = JSON.parse(cleaned);\n\n// pegar dados consolidados do node anterior\nconst deviceData = $item(0).$node[\"Processar Dispositivo Individualmente\"].json;\n\nreturn [{\n  json: {\n    device_id: deviceData.device_id,\n    event_ids: deviceData.timeline.map(e => e.id),\n    estado_final: deviceData.estado_final,\n    ...parsed\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        -2720
      ],
      "id": "98bc5d24-6081-41e8-81e2-d38548a20946",
      "name": "Normalizar Resposta da IA"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cc10a862-c22f-4e25-bb67-0a126015a8c4",
              "leftValue": "={{ $json.requires_notification }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2976,
        -2592
      ],
      "id": "ca0101c3-94ec-4728-accf-4bb03ed5fcd5",
      "name": "Avaliar Necessidade de Notificação"
    },
    {
      "parameters": {
        "content": "PERSISTÊNCIA E EFEITOS",
        "height": 1216,
        "width": 592,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2896,
        -2768
      ],
      "typeVersion": 1,
      "id": "568db459-23ef-48e4-852f-7bbcae076792",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "tableId": "diagnostics",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "device_id",
              "fieldValue": "={{ $json.device_id }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{$json.type}}"
            },
            {
              "fieldId": "is_incident",
              "fieldValue": "={{$json.incident}}"
            },
            {
              "fieldId": "explanation",
              "fieldValue": "={{$json.justification}}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3280,
        -2720
      ],
      "id": "bfc9d37e-e5d6-4039-b3fb-a5486948a21f",
      "name": "Persistir Diagnóstico (diagnostics)",
      "credentials": {
        "supabaseApi": {
          "id": "ibsVaCNrBt1RVxWA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qdwtkjdivwmazlnuoacv.supabase.co/rest/v1/device_state?on_conflict=device_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_secret_sqsUjX-i4RgVzVskEBO67g_Ks11uXPN"
            },
            {
              "name": "Authorization",
              "value": "Bearer sb_secret_sqsUjX-i4RgVzVskEBO67g_Ks11uXPN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  device_id: $json.device_id,\n  is_closed: !$json.estado_final.aberto,\n  is_locked: !$json.estado_final.destravado,\n  updated_at: new Date().toISOString()\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3168,
        -2224
      ],
      "id": "3eb0d8ea-f503-456d-8d6d-c19bea24a25d",
      "name": "Atualizar Estado Consolidado (device_state)  Sticky:"
    },
    {
      "parameters": {
        "chatId": "-5280912989",
        "text": "=🚨 INCIDENTE CRÍTICO\n\n📟 Device: {{$json.device_id}}\n⚠️ Tipo: {{$json.type}}\n🎯 Confiança: {{ Math.round($json.confidence * 100) }} por cento\n\n🔒 Estado Atual\n• Fechado: {{$json.estado_final.aberto ? \"❌\" : \"✅\"}}\n• Travado: {{$json.estado_final.destravado ? \"❌\" : \"✅\"}}\n\n📝 Motivo:\n{{$json.justification}}\n\n🕒 {{ new Date().toLocaleString(\"pt-BR\") }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3296,
        -2496
      ],
      "id": "29066914-198a-46ea-b234-87b54fb6a0c7",
      "name": "Enviar Alerta de Segurança",
      "webhookId": "4533d208-ce76-447a-84b2-a1c3bc72c95d",
      "credentials": {
        "telegramApi": {
          "id": "8jMHIXTXu8PxW7lw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "events_raw",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "processed",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3152,
        -1808
      ],
      "id": "ecb9ed28-5486-48d8-adf3-5648c1c507c7",
      "name": "Marcar Eventos como Processados",
      "credentials": {
        "supabaseApi": {
          "id": "ibsVaCNrBt1RVxWA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "device_state",
        "filters": {
          "conditions": [
            {
              "keyName": "device_id",
              "keyValue": "={{$json.device_id}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        960,
        -2784
      ],
      "id": "209e7865-d9aa-41a8-bbcf-21ba41ade8cf",
      "name": "Estado Atual do Dispositivo",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ibsVaCNrBt1RVxWA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// timeline já agrupada e ordenada\nconst deviceData = $item(0).$node[\"Processar Dispositivo Individualmente\"].json;\nconst previousState = items[0]?.json || null;\n\n// 🔹 Estado inicial vindo do banco\nlet destravado = false;\nlet aberto = false;\n\n// Se existir estado anterior\nif (previousState && previousState.device_id) {\n  aberto = !previousState.is_closed;\n  destravado = !previousState.is_locked;\n}\n\n// Flags\nlet invasionDetected = false;\n\n// 🔎 Vamos controlar quando houve destravamento\nlet lastUnlockTimestamp = null;\n\nfor (const event of deviceData.timeline) {\n\n  // Se destravou\n  if (event.alarm_id === 33 && event.value === 1) {\n    destravado = true;\n    lastUnlockTimestamp = new Date(event.timestamp);\n  }\n\n  if (event.alarm_id === 33 && event.value === 0) {\n    destravado = false;\n  }\n\n  // Se abriu\n  if (event.alarm_id === 32 && event.value === 1) {\n\n    const openTimestamp = new Date(event.timestamp);\n\n    // 🚨 Invasão só se abrir SEM ter destravado antes\n    if (!lastUnlockTimestamp || lastUnlockTimestamp > openTimestamp) {\n      invasionDetected = true;\n    }\n\n    aberto = true;\n  }\n\n  if (event.alarm_id === 32 && event.value === 0) {\n    aberto = false;\n  }\n}\n\nconst estado_final = { aberto, destravado };\n\n// 📌 Vulnerabilidade conforme PDF:\n// fechado (32 = 0) e destravado (33 = 1)\nconst vulnerabilityDetected =\n  estado_final.aberto === false &&\n  estado_final.destravado === true;\n\nreturn [{\n  json: {\n    device_id: deviceData.device_id,\n    timeline: deviceData.timeline,\n    estado_final,\n    flags: {\n      invasionDetected,\n      vulnerabilityDetected\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -2784
      ],
      "id": "8b9e426f-18de-43c0-a4db-bf7b9f74b0cf",
      "name": "Ajustar o Node de Reconstrução"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Você é um classificador determinístico de incidentes IoT.\n\nSua resposta DEVE seguir EXATAMENTE o seguinte formato JSON:\n\n{\n  \"incident\": boolean,\n  \"type\": \"INVASAO|VULNERABILIDADE|NORMAL\",\n  \"confidence\": number entre 0 e 1,\n  \"justification\": \"explicação técnica objetiva\",\n  \"requires_notification\": boolean\n}\n\nNão utilize markdown.\nNão utilize crases.\nNão utilize ```json.\nRetorne apenas o objeto JSON puro."
            },
            {
              "content": "=Analise o seguinte cenário:\n\n{{ JSON.stringify($json, null, 2) }}\n\nClassifique conforme as regras."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1760,
        -2720
      ],
      "id": "bb6ff17b-2593-4ee8-9516-4a34edab17f9",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "2agV1kCwQBoGa7wI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Evidência de Execução",
        "height": 336,
        "width": 528,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        -2864
      ],
      "typeVersion": 1,
      "id": "693303b3-4dad-49c1-b816-bc759c4a68c1",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {
    "Scheduler (1min Window)": [
      {
        "json": {
          "timestamp": "2026-02-28T15:44:51.942-03:00",
          "Readable date": "February 28th 2026, 3:44:51 pm",
          "Readable time": "3:44:51 pm",
          "Day of week": "Saturday",
          "Year": "2026",
          "Month": "February",
          "Day of month": "28",
          "Hour": "15",
          "Minute": "44",
          "Second": "51",
          "Timezone": "America/Sao_Paulo (UTC-03:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Marcar Eventos como Processados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Eventos Não Processados (events_raw)": {
      "main": [
        [
          {
            "node": "Agrupar por Dispositivo e Ordenar Timeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar por Dispositivo e Ordenar Timeline": {
      "main": [
        [
          {
            "node": "Processar Dispositivo Individualmente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Dispositivo Individualmente": {
      "main": [
        [],
        [
          {
            "node": "Estado Atual do Dispositivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scheduler (1min Window)": {
      "main": [
        [
          {
            "node": "Buscar Eventos Não Processados (events_raw)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Resposta da IA": {
      "main": [
        [
          {
            "node": "Avaliar Necessidade de Notificação",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Atualizar Estado Consolidado (device_state)  Sticky:",
            "type": "main",
            "index": 0
          },
          {
            "node": "Persistir Diagnóstico (diagnostics)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avaliar Necessidade de Notificação": {
      "main": [
        [
          {
            "node": "Enviar Alerta de Segurança",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Persistir Diagnóstico (diagnostics)": {
      "main": [
        []
      ]
    },
    "Marcar Eventos como Processados": {
      "main": [
        [
          {
            "node": "Processar Dispositivo Individualmente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estado Atual do Dispositivo": {
      "main": [
        [
          {
            "node": "Ajustar o Node de Reconstrução",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ajustar o Node de Reconstrução": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Normalizar Resposta da IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f0fe9850-c1f2-4d78-9e43-5caac0a05c8c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "664e1387e82c7357c00197dfc0063da7c80abeb43e062ee6a9a956c16d331c9e"
  },
  "id": "HRUEI9AWDmP95Rn5o7mXJ",
  "tags": []
}